@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Josefin Sans', sans-serif;
}

.container {
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 5fr 4fr;
  box-sizing: border-box;
}

.left {
  background: url('../images/bg-pattern-desktop.svg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.left .img {
  margin: 3em 8em 3em 8em;
  display: block;
}

.left .mobile {
  background: url('../images/hero-mobile.jpg');
  background-size: cover;
  background-position: top;
  height: 40vh;
  width: 100vw;
  display: none;
}

.left h1 {
  font-size: 2.5em;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 10px;
  margin-left: 8rem;
}

.left h1:first-of-type {
  font-weight:300;
  color: hsl(0, 36%, 70%);
}

.left h1:last-of-type {
  margin-bottom: 1em;
}

.left p {
  font-size: 16px;
  color: hsl(0, 36%, 70%);
  margin: 0 9em;
  line-height: 1.5;
}

.input-container {
  margin: 20px 10em 20px 8em;
  border: 1px solid hsl(0, 36%, 70%);
  border-radius: 20px;
  display:flex;
  justify-content: space-between;
}

.input-container button {
  display: block;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  padding: 10px 30px;
  border-radius: 20px;
  border: 0px;
  cursor: pointer;
  outline: none;
  transition: all 0.5s linear 0.1s;
}

.input-container button:hover {
  background: hsl(0, 93%, 68%);
}

.input-container input {
  background: transparent;
  display: block;
  font-size: 16px;
  border: 0px;
  outline: none;
  padding: 10px;
  width: 100%;
}

.input-container input::placeholder {
  color: hsl(0, 36%, 70%);
  opacity: 0.5;
}

.input-container>input:focus + .input-container {
  border: 0.5px solid hsl(0, 93%, 68%);
}


#error {
  width: 50%;
  margin: 10px auto;
  background: hsl(0, 93%, 68%);
  color:white;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  display: none;
  transition: all 2s linear
}

.right {
  background: url('../images/hero-desktop.jpg');
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: top;
}

@media all and (max-width: 450px) {
  .container {
    width: 100vw;
  }

  .error {
    width: 70%;
  }

  .right {
    display: none;
  }

  .left .mobile {
    display: block;
    margin-bottom: 5rem;
  }

  .left .img {
    margin: 2rem 3rem 2rem 3rem;
  }

  .left p {
    margin: 2rem;
  }

  .left h1 {
    margin: auto;
    text-align: center;
    width: 100vw;
  }

  .left .input-container {
    margin: 2rem 4rem;
  }
}